<!DOCTYPE html>

<html>

    <!-- page heading -->
    <h1>Add Head Of State</h1>
    
    <!-- display data in form -->
    <form action="/addHeadOfState" method="POST">
        <label>Country Code:</label><br>
        <input type="text" name="id"><br><br>
        <label>Head Of State:</label><br>
        <input type="text" name="name"><br><br>
        <button onclick>Add Head of State</button><br><br>
    </form>

    <!-- back to home page -->
    <a href="/">Home</a>

</html>