<!DOCTYPE html>

<html>

    <!-- page heading -->
    <h1>UpDate Country</h1>

    <!-- display add country form -->
    <form action="/update/<%=co_code %>" method="POST">
        <label>Country Code:</label><br>
        <input type="text" name="<%= co_code %>"><br><br>
        <label>Country Name:</label><br>
        <input type="text" name="<%= co_name %>"><br><br>
        <label>Country Details:</label><br>
        <textarea type="text" name="<%= co_details %>" rows="10" cols="50"></textarea><br><br>
        <button onclick>UpDate Country</button><br><br>
    </form>

    <!-- back to home page link -->
    <a href="/">Home</a>

</html>